:root {
    --color-bg: #252525;
    --color-bg-light: #4a4651;
    --color-fg: white;
    --color-accent: #6f42c1;
    --color-accent-dark: #6134b3;
}

html, body {
    /* IE 10-11 didn't like using min-height */
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
}

.content {
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
    padding-top: 100px;
    color: var(--color-fg);
    text-align: center;
}

.footer {
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 5px;
    background-color: var(--color-bg-light);
    width: 100%;
}

.nav-image {
    width: 100px;
}

.nav-separator {
    background-color: var(--color-accent-dark);
    width: 5px;
    height: 35px;
}

.paginationActive {
    background-color: var(--color-accent-dark);
    border-color: var(--color-accent-dark);
    color: var(--color-fg);
}

.img-wrapper::after {
    font-size: 12px;
    content: 'Click Image To View Full Size';
    display: block;
}

#imgViewer::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 10px;
}
#imgViewer::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.img_placeholder {
    width: 256px;
    height: 256px;
}

.card-footer-wrap {
    width: 256px;
    
}

/* Loading Animation */

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}
