<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<div id="avg_commits_per_pr_chart" class="chart_height chart_margin">
    <div id="spinner" class="spinner-border" role="status"></div>
</div>
<div id="avg_commits_per_pr_caption"></div>


<script type="text/javascript">
    function loadCharts() {

        let repo_id = get_repo_id()
        var avg_commits_params = {
            "repo_id": repo_id,
            "return_data": "true"
        }

        $.getJSON("{{ api_url }}/pull_request_reports/average_commits_per_PR/", avg_commits_params, function (response) {
      
            let data = response["data"]
            console.log(data)
            var table_data = new google.visualization.DataTable();

            table_data.addColumn('string', 'Year-Month');
            table_data.addColumn('number', 'Merged / Accepted');
            table_data.addColumn('number', 'Not Merged / Rejected');
            
            for (var i = 0; i < data.length; i++) {
                yearMonth = data[i]["year_month"]
                mergedAccepted = data[i]["Merged / Accepted"]
                notMergedRejected = data[i]["Not Merged / Rejected"]
            
                table_data.addRow([yearMonth, mergedAccepted, notMergedRejected])
            } 

        var options = {
            title: 'Average Commit Counts Per Year for All Pull Requests',
            hAxis: {
                title: 'Year Closed',
                minValue: 0,
                textStyle: {
                    fontSize: 7
                }
            },
            vAxis: {
                title: 'Average Commits / Pull Request',
                // gridlines:  {
                //     count: 3
                // }
            }
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('avg_commits_per_pr_chart'));
        chart.draw(table_data, options);

        window.addEventListener('resize', function () {
            chart.draw(table_data, options);
        }, false);
    
        });
    }

    function get_repo_id() {
        var url_array = window.location.href.split("/");
        var repo_id = url_array[url_array.length - 1];
        return repo_id
    }



    // Load Gchart packages and render charts
    google.charts.load('current', { packages: ['corechart', 'bar', 'timeline', 'controls'] });
    google.charts.setOnLoadCallback(loadCharts);
</script>