<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename= 'favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename= 'favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename= 'favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename= 'favicon/site.webmanifest') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- jQuery Google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{ url_for('static', filename= 'css/stylesheet.css') }}" rel="stylesheet">

    {% if title %}
        <title>{{title}} - Augur View</title>
    {% else %}
        <title>Augur View</title>
    {% endif %}

    {% if redirect %}
        <meta http-equiv="refresh" content="{{ pause or 0 }}; URL='{{ url_for('root', path=redirect) }}'"/>
    {% endif %}
</head>

<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div id="toasts" class="toast-container position-absolute">
        {% for message in messages %}
        <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    {{message}}
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
    {% endwith %}
    <!-- TOPNAV -->
    {% include 'navbar.html' %}
    <!-- body-content -->
    <div class="content">
        {% if body %}
            {% include '%s.html' % body ignore missing %}
        {% else %}
            <h1>404 - Page Not Found</h1>
            <p>The page you were looking for isn't here, try clicking one of the navigation links above</p>
        {% endif %}
    </div>

    <!-- footer -->
    <div class="jumbotron text-center footer">
        <div class="d-flex flex-fill align-content-between flex-wrap">
            <div class="order-1 flex-grow-1">
                <p style="color: white;">This is a beta build of Augur-View. Experimental frontend features may not be fully functional.</p>
                <p style="color: white;">Currently serving: {{api_url or 'api_url unspecified'}}</p>
            </div>
            <div class="order-2">
                <a href="https://chaoss.community/">
                    <img src="{{ url_for('logo', brand='chaoss') }}" class="img-fluid float-center" alt="Chaos Logo" style="width: 50%;">
                </a>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function(toastEl) {
        // Creates an array of toasts (it only initializes them)
        return new bootstrap.Toast(toastEl) // No need for options; use the default options
    });
    setTimeout(function() {
        toastList.forEach((toast, i) => setTimeout(() => { toast.show() }, i * 500)); // This show them
    }, 1000);
    </script>
</body>
</html>
