<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<div id="pr_time_til_first_response_chart" style="height: 500px;">
    <div id="spinner" class="spinner-border" role="status"></div>
</div>
<div id="pr_time_til_first_response_caption"></div>


<script type="text/javascript">
    console.log("test");
    function loadCharts() {

        let repo_id = get_repo_id()
        var pr_time_til_first_response_params = {
            "repo_id": repo_id,
            "return_data": "true"
        }

        $.getJSON("{{ api_url }}/pull_request_reports/PR_time_to_first_response/", pr_time_til_first_response_params, function (response) {
      
            let data = response["data"]
            console.log(data)
            var table_data = new google.visualization.DataTable();

            table_data.addColumn('date', 'Date Closed');
            table_data.addColumn('number', 'Merged / Accepted first response time');
            table_data.addColumn('number', 'Not Merged / Rejected first response time');
            
            for (var i = 0; i < data.length; i++) {
                yearMonth = data[i]["date"]
                mergedAccepted = data[i]["Merged / Accepted first repsonse time"]
                notMergedRejected = data[i]["Not Merged / Rejected first response time"]
            
                table_data.addRow([yearMonth, mergedAccepted, notMergedRejected])
            } 

        var options = {
            title: 'Average Commit Counts Per Year for All Pull Requests',
            hAxis: {
                title: 'Date Closed',
                // minValue: 0,
                // textStyle: {
                //     fontSize: 7
                // }
            },
            vAxis: {
                title: 'Days to First Response',
                // gridlines:  {
                //     count: 3
                // }
            }
        };
        // var chart = new google.visualization.ScatterChart(document.getElementById('pr_time_til_first_response_chart'));
        // chart.draw(table_data, options);
        
        var chart = new google.charts.Scatter(document.getElementById('pr_time_til_first_response_chart'));
        chart.draw(table_data, google.charts.Scatter.convertOptions(options));
    
        });
    }

    function get_repo_id() {
        var url_array = window.location.href.split("/");
        var repo_id = url_array[url_array.length - 1];
        return repo_id
    }



    // Load Gchart packages and render charts
    google.charts.load('current', { packages: ['corechart', 'bar', 'timeline', 'controls'] });
    google.charts.setOnLoadCallback(loadCharts);
</script>