<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<div id="pr_time_til_first_response_chart" style="height: 500px;">
    <div id="spinner" class="spinner-border" role="status"></div>
</div>
<div id="pr_time_til_first_response_caption"></div>


<script type="text/javascript">
    console.log("test");
    function loadCharts() {

        let repo_id = get_repo_id()
        var pr_time_til_first_response_params = {
            "repo_id": repo_id,
            "return_data": "true"
        }

        $.getJSON("{{ api_url }}/", pr_time_til_first_response_params, function (response) {

            
            response = {"data": [
                    {
                        "Merged / Accepted first response time": 2.6835532407407405,
                        "date": "2021-05-26"
                    },
                    {
                        "Merged / Accepted first response time": 0.5060185185185185,
                        "date": "2021-06-04"
                    },
                    {
                        "Merged / Accepted first response time": 0.031469907407407405,
                        "date": "2021-06-03"
                    },
                    {
                        "Merged / Accepted first response time": 0.006377314814814815,
                        "date": "2021-06-04"
                    },
                    {
                        "Merged / Accepted first response time": 0.0014814814814814814,
                        "date": "2021-06-09"
                    },
                    {
                        "Merged / Accepted first response time": 1.611423611111111,
                        "date": "2021-06-28"
                    },
                    {
                        "Merged / Accepted first response time": 1.168460648148148,
                        "date": "2021-07-01"
                    },
                    {
                        "Merged / Accepted first response time": 0.003136574074074074,
                        "date": "2021-07-02"
                    },
                    {
                        "Merged / Accepted first response time": 7.675416666666667,
                        "date": "2021-07-13"
                    },
                    {
                        "Merged / Accepted first response time": 0.09549768518518519,
                        "date": "2021-07-13"
                    },
                    {
                        "Merged / Accepted first response time": 0.06351851851851852,
                        "date": "2021-07-14"
                    },
                    {
                        "Merged / Accepted first response time": 0.0011574074074074073,
                        "date": "2021-07-21"
                    },
                    {
                        "Merged / Accepted first response time": 0.09868055555555555,
                        "date": "2021-07-26"
                    },
                    {
                        "Merged / Accepted first response time": 0.0340162037037037,
                        "date": "2021-07-26"
                    },
                    {
                        "Merged / Accepted first response time": 0.4432523148148148,
                        "date": "2021-08-04"
                    },
                    {
                        "Merged / Accepted first response time": 0.023680555555555555,
                        "date": "2021-08-05"
                    },
                    {
                        "Merged / Accepted first response time": 0.017280092592592593,
                        "date": "2021-08-11"
                    },
                    {
                        "Merged / Accepted first response time": 0.01238425925925926,
                        "date": "2021-08-13"
                    },
                    {
                        "Merged / Accepted first response time": 2.1086921296296297,
                        "date": "2021-08-15"
                    },
                    {
                        "Merged / Accepted first response time": 0.5123726851851852,
                        "date": "2021-08-17"
                    },
                    {
                        "Merged / Accepted first response time": 0.0030208333333333333,
                        "date": "2021-08-17"
                    },
                    {
                        "Merged / Accepted first response time": 0.0030787037037037037,
                        "date": "2021-08-17"
                    },
                    {
                        "Merged / Accepted first response time": 0.004710648148148148,
                        "date": "2021-09-09"
                    },
                    {
                        "Merged / Accepted first response time": 0.0021527777777777778,
                        "date": "2021-09-16"
                    },
                    {
                        "Merged / Accepted first response time": 0.6166319444444445,
                        "date": "2021-09-26"
                    },
                    {
                        "Merged / Accepted first response time": 0.0015625,
                        "date": "2021-09-25"
                    },
                    {
                        "Merged / Accepted first response time": 0.02013888888888889,
                        "date": "2021-10-18"
                    },
                    {
                        "Merged / Accepted first response time": 5.010798611111111,
                        "date": "2021-11-10"
                    }
                ],
                "outlier_cutoff": 11.121684215122462,
                "outliers_removed": 1
            }
      
            let data = response["data"]
            console.log(data)
            var table_data = new google.visualization.DataTable();

            table_data.addColumn('date', 'Date Closed');
            table_data.addColumn('number', 'Merged / Accepted first response time');
            table_data.addColumn('number', 'Not Merged / Rejected first response time');
            
            for (var i = 0; i < data.length; i++) {
                yearMonth = data[i]["date"]
                mergedAccepted = data[i]["Merged / Accepted first repsonse time"]
                notMergedRejected = data[i]["Not Merged / Rejected first response time"]
            
                table_data.addRow([yearMonth, mergedAccepted, notMergedRejected])
            } 

        var options = {
            title: 'Average Commit Counts Per Year for All Pull Requests',
            hAxis: {
                title: 'Date Closed',
                // minValue: 0,
                // textStyle: {
                //     fontSize: 7
                // }
            },
            vAxis: {
                title: 'Days to First Response',
                // gridlines:  {
                //     count: 3
                // }
            }
        };
        // var chart = new google.visualization.ScatterChart(document.getElementById('pr_time_til_first_response_chart'));
        // chart.draw(table_data, options);
        
        var chart = new google.charts.Scatter(document.getElementById('pr_time_til_first_response_chart'));
        chart.draw(table_data, google.charts.Scatter.convertOptions(options));
    
        });
    }

    function get_repo_id() {
        var url_array = window.location.href.split("/");
        var repo_id = url_array[url_array.length - 1];
        return repo_id
    }



    // Load Gchart packages and render charts
    google.charts.load('current', { packages: ['corechart', 'bar', 'timeline', 'controls'] });
    google.charts.setOnLoadCallback(loadCharts);
</script>