<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart1);
    google.charts.setOnLoadCallback(drawChart2);
    google.charts.setOnLoadCallback(drawChart3);
    google.charts.setOnLoadCallback(drawChart4);
    function drawChart1() {
        var data = google.visualization.arrayToDataTable([
            ['Repo', 'First Time Contributors', 'Date'],
            ['Repo 1', 190,'2018-01'],
            ['Repo 1', 176, '2018-04'],
            ['Repo 1', 185, '2018-7'],
            ['Repo 1', 229, '2018-10'],
            ['Repo 1', 223, '2019-01'],
            ['Repo 1', 203, '2019-04'],
            ['Repo 1', 212, '2019-07'],
            ['Repo 1', 209, '2019-10'],
            ['Repo 1', 165, '2020-01'],
            ['Repo 1', 188, '2020-04'],
            ['Ceph', 42, '2018-01'],
            ['Ceph', 35, '2018-04'],
            ['Ceph', 39, '2018-07'],
            ['Ceph', 59, '2018-10'],
            ['Ceph', 41, '2019-01'],
            ['Ceph', 48, '2019-04'],
            ['Ceph', 43, '2019-07'],
            ['Ceph', 51, '2019-10'],
            ['Ceph', 62, '2020-01'],
            ['Ceph', 50, '2020-04'],
            ['Repo 3', 42, '2018-01'],
            ['Repo 3', 35, '2018-04'],
            ['Repo 3', 39, '2018-07'],
            ['Repo 3', 59, '2018-10'],
            ['Repo 3', 41, '2019-01'],
            ['Repo 3', 48, '2019-04'],
            ['Repo 3', 43, '2019-07'],
            ['Repo 3', 51, '2019-10'],
            ['Repo 3', 62, '2020-01'],
            ['Repo 3', 50, '2020-04']
        ]);

        var options = {
            title: 'First Time Contributors of repos',
            legend: { position: 'none' },
        };

        var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

    // This is for the rest of the charts that still need to be implemented.
    // function drawChart2() {
    //     var data = google.visualization.arrayToDataTable([
    //         ['Repo', 'First Time Contributors', 'Date'],
    //         ['Repo 1', 190,'2018-01'],
    //         ['Repo 1', 176, '2018-04'],
    //         ['Repo 1', 185, '2018-7'],
    //         ['Repo 1', 229, '2018-10'],
    //         ['Repo 1', 223, '2019-01'],
    //         ['Repo 1', 203, '2019-04'],
    //         ['Repo 1', 212, '2019-07'],
    //         ['Repo 1', 209, '2019-10'],
    //         ['Repo 1', 165, '2020-01'],
    //         ['Repo 1', 188, '2020-04'],
    //         ['Ceph', 42, '2018-01'],
    //         ['Ceph', 35, '2018-04'],
    //         ['Ceph', 39, '2018-07'],
    //         ['Ceph', 59, '2018-10'],
    //         ['Ceph', 41, '2019-01'],
    //         ['Ceph', 48, '2019-04'],
    //         ['Ceph', 43, '2019-07'],
    //         ['Ceph', 51, '2019-10'],
    //         ['Ceph', 62, '2020-01'],
    //         ['Ceph', 50, '2020-04'],
    //         ['Repo 3', 42, '2018-01'],
    //         ['Repo 3', 35, '2018-04'],
    //         ['Repo 3', 39, '2018-07'],
    //         ['Repo 3', 59, '2018-10'],
    //         ['Repo 3', 41, '2019-01'],
    //         ['Repo 3', 48, '2019-04'],
    //         ['Repo 3', 43, '2019-07'],
    //         ['Repo 3', 51, '2019-10'],
    //         ['Repo 3', 62, '2020-01'],
    //         ['Repo 3', 50, '2020-04']
    //     ]);

    //     var options = {
    //         title: 'First Time Contributors of repos',
    //         legend: { position: 'none' },
    //     };

    //     var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
    //     chart.draw(data, options);
    // }
    // function drawChart3() {
    //     var data = google.visualization.arrayToDataTable([
    //         ['Repo', 'First Time Contributors', 'Date'],
    //         ['Repo 1', 190,'2018-01'],
    //         ['Repo 1', 176, '2018-04'],
    //         ['Repo 1', 185, '2018-7'],
    //         ['Repo 1', 229, '2018-10'],
    //         ['Repo 1', 223, '2019-01'],
    //         ['Repo 1', 203, '2019-04'],
    //         ['Repo 1', 212, '2019-07'],
    //         ['Repo 1', 209, '2019-10'],
    //         ['Repo 1', 165, '2020-01'],
    //         ['Repo 1', 188, '2020-04'],
    //         ['Ceph', 42, '2018-01'],
    //         ['Ceph', 35, '2018-04'],
    //         ['Ceph', 39, '2018-07'],
    //         ['Ceph', 59, '2018-10'],
    //         ['Ceph', 41, '2019-01'],
    //         ['Ceph', 48, '2019-04'],
    //         ['Ceph', 43, '2019-07'],
    //         ['Ceph', 51, '2019-10'],
    //         ['Ceph', 62, '2020-01'],
    //         ['Ceph', 50, '2020-04'],
    //         ['Repo 3', 42, '2018-01'],
    //         ['Repo 3', 35, '2018-04'],
    //         ['Repo 3', 39, '2018-07'],
    //         ['Repo 3', 59, '2018-10'],
    //         ['Repo 3', 41, '2019-01'],
    //         ['Repo 3', 48, '2019-04'],
    //         ['Repo 3', 43, '2019-07'],
    //         ['Repo 3', 51, '2019-10'],
    //         ['Repo 3', 62, '2020-01'],
    //         ['Repo 3', 50, '2020-04']
    //     ]);

    //     var options = {
    //         title: 'First Time Contributors of repos',
    //         legend: { position: 'none' },
    //     };

    //     var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
    //     chart.draw(data, options);
    // }
    // function drawChart4() {
    //     var data = google.visualization.arrayToDataTable([
    //         ['Repo', 'First Time Contributors', 'Date'],
    //         ['Repo 1', 190,'2018-01'],
    //         ['Repo 1', 176, '2018-04'],
    //         ['Repo 1', 185, '2018-7'],
    //         ['Repo 1', 229, '2018-10'],
    //         ['Repo 1', 223, '2019-01'],
    //         ['Repo 1', 203, '2019-04'],
    //         ['Repo 1', 212, '2019-07'],
    //         ['Repo 1', 209, '2019-10'],
    //         ['Repo 1', 165, '2020-01'],
    //         ['Repo 1', 188, '2020-04'],
    //         ['Ceph', 42, '2018-01'],
    //         ['Ceph', 35, '2018-04'],
    //         ['Ceph', 39, '2018-07'],
    //         ['Ceph', 59, '2018-10'],
    //         ['Ceph', 41, '2019-01'],
    //         ['Ceph', 48, '2019-04'],
    //         ['Ceph', 43, '2019-07'],
    //         ['Ceph', 51, '2019-10'],
    //         ['Ceph', 62, '2020-01'],
    //         ['Ceph', 50, '2020-04'],
    //         ['Repo 3', 42, '2018-01'],
    //         ['Repo 3', 35, '2018-04'],
    //         ['Repo 3', 39, '2018-07'],
    //         ['Repo 3', 59, '2018-10'],
    //         ['Repo 3', 41, '2019-01'],
    //         ['Repo 3', 48, '2019-04'],
    //         ['Repo 3', 43, '2019-07'],
    //         ['Repo 3', 51, '2019-10'],
    //         ['Repo 3', 62, '2020-01'],
    //         ['Repo 3', 50, '2020-04']
    //     ]);

    //     var options = {
    //         title: 'First Time Contributors of repos',
    //         legend: { position: 'none' },
    //     };

    //     var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
    //     chart.draw(data, options);
    // }
</script>