<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        {% if repo.repo_id %}
        <h1 id="message">Report for: {{ repo.repo_name|title }}</h1>
        <p><a href="https://{{ repo.url }}" target="_blank" data-toggle="tooltip" title="opens in new tab">https://{{ repo.url }}</a></p>
        <h2>Contributor Reports</h2>
        <div id="pie_chart" style="width: 900px; height: 500px;"></div>
        {% else %}
        <h1 id="message">Repository {{ repo_id }} not found<h1>
        {% endif %}
    </div>
</div>
{% if repo.repo_id %}
{# Wait for cache response:
    This method queries the server from the client, asking for confirmation
    of which images are available on the server. The server will asynchronously
    download the requested images as the page is loading, then once the page
    loads, the client will query a locking endpoint on the server and wait
    for a response.
#}<script type="text/javascript">
    function loadCharts() {

        let repo_id = get_repo_id()
        var pie_chart_params = {
            "repo_id": repo_id,
            "return_data": "true"
        }

        $.getJSON("{{ api_url }}/contributor_reports/returning_contributors_pie_chart/", pie_chart_params, function (response) {

            // extract values from response into logical data names
            let data = response["data"]
            let repo_name = response["repo_name"]
            let start_date = response["start_date"]
            let end_date = response["end_date"]

            // Get a list of keys for the data
            let keys = Object.keys(data)

            // Create a data table for the chart and add the two valyes each piece of data has
            var table_data = new google.visualization.DataTable();

            table_data.addColumn('string', 'Contributor Type');
            table_data.addColumn('number', 'Percentage');

            // compute the total number of contributors, and add each piece of data to the table object
            total_contributors = 0
            for (var i = 0; i < keys.length; i++) {
                key = keys[i]
                table_data.addRow([key, data[key]])

                total_contributors+= data[key]
            }

            // Create title from reponse values
            var title = repo_name + ": " + "Number of Returning Contributors out of " + total_contributors + " from " + start_date + " to " + end_date

            // Set the table options
            var options = {
            title: title
            };

            // Define the piechart object and where it needs to go in the html
            var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));

            // Draw the data onto the pie chart with the given options
            chart.draw(table_data, options);
        });
    }

    function get_repo_id(){
        var url_array = window.location.href.split("/");
        var repo_id = url_array[url_array.length - 1];
        return repo_id
    }
    // Load Gchart packages and render charts
    google.charts.load('current', { packages: ['corechart', 'bar', 'timeline', 'controls'] });
    google.charts.setOnLoadCallback(loadCharts);
</script>
{% endif %}