<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4">
            <div class="card user-card">
                <div class="card-body">
                    <h1>{{ current_user.id }}</h1>
                    <a id="delete-link" href="#">Delete Account</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">User Profile</small>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <h2>Update Password</h2>
            <form class="form-inline user-settings-form">
                <div class="form-group">
                    <label for="oldPassword">Current Password</label>
                    <input type="password" id="oldPassword" class="form-control">
                    <label for="newPassword">New Password</label>
                    <input type="password" id="newPassword" class="form-control" aria-describedby="passwordHelpInline">
                    <small id="passwordHelpInline" class="text-muted">
                        Must be 8-20 characters long.
                    </small>
                    <br>
                    <label for="newPasswordConfirmation">Confirm New Password</label>
                    <input type="password" id="newPasswordConfirmation" class="form-control">
                </div>
                <div class="btn" style="background-color: var(--color-accent); padding: 0; margin: 0; margin-top: 10px;">
                    <button class="btn btn-outline-dark" style="color: white;" type="submit" name="register">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var deleteLink = document.querySelector("#delete-link");
    var confimationText = "Click again to confirm deletion";
    
    deleteLink.addEventListener("click", function() {
        if(deleteLink.innerHTML == confimationText) {
            window.location.replace("{{url_for('user_delete')}}");
        } else {
            deleteLink.classList.toggle("link-warning");
            deleteLink.innerHTML = confimationText;
        }
    });
</script>