<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<h1>Collection Status</h1>
<hr/>
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <h2>Pull Requests</h2>
        <div class="row row-cols-1 col-auto g-3" style="margin-bottom: 30px; min-width: 80%;">
            <div class="col">
                <div class="card d-flex justify-content-center align-items-center" style="margin-bottom: 30px; padding: 10px;">
                    <div id="pull_requests_dashboard_div_1" style="min-width: 100%; color: black;">
                        <div id="pull_requests_filter_div_1"></div>
                        <div id="pull_requests_div_1" style="min-width: 90%; min-height: 300px"></div>
                    </div>
                </div>
                <div class="card d-flex justify-content-center align-items-center" style="margin-bottom: 30px; padding: 10px;">
                    <div id="pull_requests_div_2" style="min-width: 90%; min-height: 300px"></div>
                </div>
            </div>
        </div>
        <h2>Issues</h2>
        <div class="row row-cols-1 col-auto g-3" style="margin-bottom: 30px; min-width: 80%;">
            <div class="col">
                <div class="card d-flex justify-content-center align-items-center" style="padding: 10px;">
                    <div id="pull_requests_div_3" style="min-width: 90%; min-height: 300px"></div>
                </div>
                <br><br>
                <div class="card d-flex justify-content-center align-items-center" style="margin-bottom: 30px; padding: 10px;">
                    <div id="issues_div" style="min-width: 90%; min-height: 500px"></div>
                </div>
            </div>
        </div>
        <h3>Time between most recently collected issue and last collection run</h3>
        <div class="row row-cols-1 col-auto g-3" style="margin-bottom: 30px; min-width: 80%;">
            <div class="col">
                <div class="card d-flex justify-content-center align-items-center" style="margin-bottom: 30px; padding: 10px;">
                    <div id="issues_timeline_div" style="min-width: 90%; min-height: 300px"></div>
		    <button id="expand_button" onclick="expandTimeline()">Expand List</button>
                    <button id="reduce_button" onclick="reduceTimeline()">Reduce List</button>
                </div>
            </div>
        </div>
        <h2>Commits</h2>
        <div class="row row-cols-1 col-auto g-3" style="margin-bottom: 30px; min-width: 80%;">
            <div class="col">
                <div class="card d-flex justify-content-center align-items-center" style="margin-bottom: 30px; padding: 10px;">
                    <div id="commits_div" style="min-width: 90%; min-height: 300px"></div>
                </div>
            </div>
        </div>
        <h2>Single Repo Overview</h2>
        <div class="row row-cols-1 col-auto g-3" style="margin-bottom: 30px; min-width: 80%;">
            <div class="col">
                <label for="singleRepo">Enter the repo you want: </label>
                <input type="text" id="singleRepo" name="fname" list = "repoDataList"><button class="block" id = "singleRepoSubmit">Search</button><br><br>
                <datalist id = "repoDataList">
                </datalist>  
                <div class="container-fluid d-flex justify-content-center align-items-center" style="margin-bottom: 30px; padding: 10px;">
                    <div id="singleRepo_div" style="min-width: 90%; min-height: 300px">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Repo Name: </h5>
                                    <small id = "single_repo_name">x</small>
                                </div>
                            </li>
                            <li class = "list-group-item list-group-item-primary flex-column align-items-start">
                                <div class="d-flex justify-content-between align-items-center">
                                Issue Request Amount:
                                <small id = "single_repo_IA">x</small>
                                </div>
                            </li>
                            <li class = "list-group-item list-group-item-primary flex-column align-items-start">
                                <div class="d-flex justify-content-between align-items-center">
                                Missing Pull Request:
                                <small id = "single_repo_MPR">x</small>
                                </div>
                            </li>
                            <li class = "list-group-item list-group-item-primary flex-column align-items-start">
                                <div class="d-flex justify-content-between align-items-center">
                                    Issue Collected Ratio:
                                    <small id = "single_repo_ICR">x</small>
                                </div>
                                <p class="mb-1">The closer this number is to 1 the better</p>
                            </li>
                            <li class = "list-group-item list-group-item-primary flex-column align-items-start">
                                <div class="d-flex justify-content-between align-items-center">
                                Number of issues collected:
                                <small id = "single_repo_IC">x</small>
                                </div>
                            </li>
                            <li class = "list-group-item list-group-item-primary flex-column align-items-start">
                                <div class="d-flex justify-content-between align-items-center">
                                time between:
                                <small id = "single_repo_TB">x</small>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">link: </h5>
                                <div id = "single_repo_Link"><small>x</small></div>
                              </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script type="text/javascript">
    function loadCharts() {
        $.getJSON("{{ api_url }}/collection_status/pull_requests", function(response) {
            // ------------------------------------------------- PRS COUNT CHART
            var data = new google.visualization.DataTable();
            var dashboard = new google.visualization.Dashboard(document.getElementById('pull_requests_dashboard_div_1'));
            data.addColumn('string', 'Repo Name');
            data.addColumn('number', 'Pull Request Count');
            data.addColumn('number', 'Pull Requests Collected');

            var rangeSlider = new google.visualization.ControlWrapper({
                'controlType': 'NumberRangeFilter',
                'containerId': 'pull_requests_filter_div_1',
                'options': {
                    'filterColumnLabel': 'Pull Request Count',
                    'ui': {'labelStacking': 'vertical'}
                }
            });

            for(let i = 0; i < response.length; ++i) {
                let repo = response[i];
                if(repo['pull_request_count'] > 0 ||  repo['pull_requests_collected'] > 0) {
                    data.addRow([repo['repo_name'], repo['pull_request_count'], repo['pull_requests_collected']]);
                }
            }
		
	    data.sort({column: 1});

            var options = {
                chart: {
                    title: 'Pull request collection status'
                },
                hAxis: {
                    title: 'Repos'
                },
                vAxis: {
                    title: 'Number of datapoints',
                    logScale: true
                }
            };
            // var materialChart = new google.charts.Bar(document.getElementById('pull_requests_div_1'));
            var materialChart  = new google.visualization.ChartWrapper({
                'chartType': 'ColumnChart',
                'containerId': 'pull_requests_div_1',
                options
            });
            dashboard.bind(rangeSlider, materialChart);
            dashboard.draw(data);

            // ----------------------------------------------- PRS MISSING CHART
            data = new google.visualization.DataTable();
            data.addColumn('string', 'Repo Name');
            data.addColumn('number', 'Pull Requests Missing');

            for(let i = 0; i < response.length; ++i) {
                let repo = response[i];
                if(repo['pull_requests_missing'] > 0) {
                    data.addRow([repo['repo_name'], repo['pull_requests_missing']]);
                }
            }
		
	    data.sort({column: 1});

            options = {
			  title: "Missing pull requests",
                hAxis: {
                    title: 'Number of Missing PRS',
					scaleType: 'log',
					ticks: [0, 25, 75, 200, 400]
                },
                vAxis: {
                    title: 'Repos',
					//scaleType: 'log',
					//ticks: [0, 25, 75, 200, 400]
                }
            };
			
			var logChart = new google.visualization.BarChart(document.getElementById('pull_requests_div_2'));
			logChart.draw(data, options);
            //materialChart = new google.charts.Bar(document.getElementById('pull_requests_div_2'));
            //materialChart.draw(data, options);
            
            // ------------------------------------------------- PRS RATIO CHART
            data = new google.visualization.DataTable();
            data.addColumn('string', 'Repo Name');
            data.addColumn('number', 'Issues ratio');

            for(let i = 0; i < response.length; ++i) {
                let repo = response[i];
                if(repo['ratio_issues'] < 1)
                {
                    data.addRow([repo['repo_name'], 1 - repo['ratio_issues']]);
                }
            }
            data.sort({column: 1});
            options = {
                chart: {
                    title: 'Ratio of collected to total pull requests'
                },
                hAxis: {
                    title: 'Ratio',
                    format:'#%',
                    min:0,
                    max:1
                },
		vAxis: {
                    title: 'Repos'
                },
            };
            materialChart = new google.visualization.BarChart(document.getElementById('pull_requests_div_3'));
            materialChart.draw(data, options);

            //----------------------------------------------------- Single Repo Stats

            //fill the datalist (suggestion box) with the list of repos found
            var reposDataList='';
            for(let i = 0; i < response.length; ++i) 
            {
                let repo = response[i];
                reposDataList += '<option value="'+[repo['repo_name']]+'" />';
            }
            document.getElementById("repoDataList").innerHTML = reposDataList;
            //console.log(reposDataList);
        });
        $.getJSON("{{ api_url }}/collection_status/issues", function(response) {
            // ---------------------------------------------------- ISSUES CHART
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Repo Name');
            data.addColumn('number', 'Issues Count');

            for(let i = 0; i < response.length; ++i) {
                let repo = response[i];
                data.addRow([repo['repo_name'], repo['issues_count']]);
            }
		
	    data.sort({column: 1});

            var options = {
                chart: {
                    title: 'Number of issues collected'
                },
                hAxis: {
                    title: 'Repos',
                scaleType: 'log',
                ticks: [0, 25, 400, 1000, 12000]
                    },
                    vAxis: {
                        title: 'Number of datapoints'
                    }
                };
            var materialChart = new google.visualization.BarChart(document.getElementById('issues_div'));
            materialChart.draw(data, options);

            // ------------------------------------------------- ISSUES TIMELINE
             function daysBetween(end, start) {
  				return Math.round(Math.abs((+end) - (+start))/8.64e7);
			}
            var container = document.getElementById('issues_timeline_div');
            var chart = new google.visualization.Timeline(container);
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn({ type: 'string', id: 'Repo Name' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });


            if(reduceButton.style.display == "none"){
            	const dateDifferences = []
	            for(let i = 0; i < response.length; ++i) {
	                let repo = response[i];
	                var start = new Date(repo['most_recently_collected_issue']);
	                var end = new Date(repo['last_collected']);
	                dateDifferences[i] = daysBetween(end, start);
	            }
	            amountToDisplay = Math.round(dateDifferences.length * 0.25);
	            const largestDifferences = dateDifferences.sort((a,b) => b-a).slice(0, amountToDisplay);
	            var count = 0;
	            for(let i = 0; i < response.length; ++i){
	            	let repo = response[i];
	            	var start = new Date(repo['most_recently_collected_issue']);
	            	var end = new Date(repo['last_collected']);
	                if(start < end && largestDifferences.includes(daysBetween(end, start)) && count < amountToDisplay) {
	                	count++;
	                    dataTable.addRow([repo['repo_name'], start, end]);
	                    console.log(count);
	                }
	            }
		    dataTable.sort({column:1});
	            var height = amountToDisplay * 47;
	            options = {'height':height};
	            chart.draw(dataTable, options);
            }
            else{
                var displayCount = 0;
            	for(let i = 0; i < response.length; ++i){
            	let repo = response[i];
            	var start = new Date(repo['most_recently_collected_issue']);
            	var end = new Date(repo['last_collected']);
	                if(start < end) {
                        displayCount++;
	                    dataTable.addRow([repo['repo_name'], start, end]);
	                }
            	}
               	    dataTable.sort({column:1});
	            var height = displayCount * 43;
	            options = {'height':height};
	            chart.draw(dataTable, options);
            }
        });
        $.getJSON("{{ api_url }}/collection_status/commits", function(response) {
            // ----------------------------- COMMITS COMPLETION STATUS PIE CHART
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Completion status');
            data.addColumn('number', 'Number of repos');

            var complete = 0;
            for(let i = 0; i < response.length; ++i) {
                let repo = response[i];
                if(repo['repo_status'] == "Complete") {
                    ++complete;
                }
            }

            data.addRow(["Complete", complete]);
            data.addRow(["Incomplete", response.length - complete]);

            var options = {
                title: 'Completion status of commits collection'
            };

            var chart = new google.visualization.PieChart(document.getElementById('commits_div'));

            chart.draw(data, options);
        });

    }

    document.getElementById("singleRepoSubmit").addEventListener("click", singleRepoFill);

    function singleRepoFill()
    {
        var repoName = (document.getElementById("singleRepo").value);
        document.getElementById("singleRepo").value = "";
        console.log(repoName);
        var tempName = "not a valid repo";
        var IssueCount = "x";
        var MissingRequest = "x";
        var IssueRatio = "x";
        var IssueRequestCount = "x";
        var TimeBetween = "x";
        var link = "<small>x</small>";

        $.getJSON("{{ api_url }}/collection_status/pull_requests", function(response) {
            for(let i = 0; i < response.length; ++i) {
                let repo = response[i];
                if(repo['repo_name'] == repoName) {
                    console.log(repo);
                    tempName = repo['repo_name'];
                    IssueCount = repo['pull_request_count'];
                    MissingRequest = repo['pull_requests_missing'];
                    IssueRatio = repo['ratio_issues'];
                }
            }
            document.getElementById("single_repo_name").innerHTML = tempName;
            document.getElementById("single_repo_IA").innerHTML = IssueCount;
            document.getElementById("single_repo_MPR").innerHTML = MissingRequest;
            document.getElementById("single_repo_ICR").innerHTML = IssueRatio;
        });
        $.getJSON("{{ api_url }}/collection_status/issues", function(response) {
            for(let i = 0; i < response.length; ++i) {
                let repo = response[i];
                if(repo['repo_name'] == repoName) {
                    console.log(repo);
                    date1 = new Date(Date.parse(repo['last_collected']));  
                    date2 = new Date(Date.parse(repo['most_recently_collected_issue']));
                    TimeBetween =  Math.floor((date1.getTime() - date2.getTime()) / (1000 * 60 * 60 * 24)) + " Days";  
                    IssueRequestCount = repo['issues_count'];
                }
            }
            document.getElementById("single_repo_IC").innerHTML = IssueRequestCount;
            document.getElementById("single_repo_TB").innerHTML = TimeBetween;
            
        });
        $.getJSON("{{ api_url }}/collection_status/commits", function(response) {
            for(let i = 0; i < response.length; ++i) {
                let repo = response[i];
                if(repo['repo_name'] == repoName) {
                    console.log(repo);
                    link = "<a href ="+repo['repo_git']+">"+repo['repo_git']+"</a>";
                }
            }
            document.getElementById("single_repo_Link").innerHTML = link;
        });
    }

	var reduceButton = document.getElementById("reduce_button");
    reduceButton.style.display = "none";

    function expandTimeline(){
    	var reduceButton = document.getElementById("reduce_button");
        reduceButton.style.display = "block";
        var expandButton = document.getElementById("expand_button");
        expandButton.style.display = "none";
        loadCharts();
    }

    function reduceTimeline(){
    	var reduceButton = document.getElementById("reduce_button");
        reduceButton.style.display = "none";
        var expandButton = document.getElementById("expand_button");
        expandButton.style.display = "block";
        loadCharts();
    }


    // Load Gchart packages and render charts
    google.charts.load('current', {packages: ['corechart', 'bar', 'timeline', 'controls']});
    google.charts.setOnLoadCallback(loadCharts);
</script>
